<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Respuesta Formulario</title>
</head>
<body>
    <table style="border: 2px solid black;">
        <tr style="text-align: center">
            <td style="border: 1px solid black;">Fecha De Inicio</td>
            <td style="border: 1px solid black;">{{ fechaInicio }}</td>
        </tr>

        <tr style="text-align: center">
            <td style="border: 1px solid black;">Fecha De Fin</td>
            <td style="border: 1px solid black;">{{ fechaFin }}</td>
        </tr>

        <tr style="text-align: center">
            <td style="border: 1px solid black;">Días De La Semana</td>
            <td style="border: 1px solid black;">{{ diasSemana }}</td>
        </tr>

        <tr style="text-align: center">
            <td style="border: 1px solid black;">Email del usuario</td>
            <td style="border: 1px solid black;">{{ email }}</td>
        </tr>



    </table>


</body>
</html>